body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#stage{
  border: 4px solid blue;
  height: 600px;
  width: 600px;
  background-color: black;
  border-style: dashed;
  margin-left: 25%;
}

#hero {
  border: 5px solid red;
  border-style: dashed;
  height: 60px;
  width: 60px;
  margin-left: 10px;
  margin-top: 10px;
  animation-name: move ;
  animation-duration: 20s;
  /* animation-iteration-count: 1; */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;

}

@keyframes move {
   from{ transform: translateX(0px)}
    to{ transform: translateX(400px)}
  }
/* @keyframes move {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 400px;
    top: 0px;
  }
  50% {
    left: 400px;
    top: 0px;
  }
  75% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
  } */

  @keyframes move {
  0%   {
    left:0px; top:0px;
  }
  25%  {
    border-color: pink;
    left:510px; top:0px;}
  50%  {
    border-color: green;
    left:510px; top:200px;
    transform: rotate(0deg);
  }
  60% {
    top:200px; left:255px;
    transform: rotate(45deg);
  }
  62% {
    top:200px; left:255px;
    transform: rotate(45deg);
  }
  75%  {
    border-color: yellow;
    left:15px; top:200px;
    transform: rotate(0deg);
    border-radius: 0px;
  }
  100% {
    left:450px; top:510px;
    border-radius: 30px;
  }
  }
